@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
}
